html {
  scroll-behavior: smooth;
}

body {
  padding: 0%;
  margin: 0%;
}

.title {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 68, 202);
}

.subTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(255, 0, 0);
}

.imgText {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.img {
  width: 40%;
  border-radius: 2rem;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

.countdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.days {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.numberOfDays {
  padding-bottom: 0.2rem;
}

.daysText {
  padding-top: 0.5rem;
  border-top: 2px solid rgb(255, 0, 0);
}

.hours {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.numberOfHours {
  padding-bottom: 0.2rem;
}
.hoursText {
  padding-top: 0.5rem;
  border-top: 2px solid rgb(255, 0, 0);
}

.minutes {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.numberOfMinutes {
  padding-bottom: 0.2rem;
}

.minutesText {
  padding-top: 0.5rem;
  border-top: 2px solid rgb(255, 0, 0);
}

.seconds {
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.numberOfSeconds {
  padding-bottom: 0.2rem;
}

.secondsText {
  padding-top: 0.5rem;
  border-top: 2px solid rgb(255, 0, 0);
}

@media screen and (max-width: 767px) {
  .countdown {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .days {
    margin: 0;
    margin-left: 1rem;
    padding: 1rem 0.25rem;
    font-size: 1.2rem;
  }
  .hours {
    margin: 0;
    padding: 1rem 0.25rem;
    font-size: 1.2rem;
  }
  .minutes {
    margin: 0;
    padding: 1rem 0.25rem;
    font-size: 1.2rem;
  }
  .seconds {
    margin: 0;
    margin-right: 1rem;
    padding: 1rem 0.25rem;
    font-size: 1.2rem;
  }
}
